main {
  margin-top: 60px;
}

img {
  width: 100%
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

@media all and (min-width: 800px){
  .first-section {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 30px 20px
  }
  
  .second-section {
    display:flex; 
    flex-direction: row;
    padding: 30px 20px 30px 20px
  }

  .third-section {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    padding: 0px 30px 0px 30px;
    margin: 40px 0px 60px 0px
  }

  .item {
    flex: 1;
    padding: 10px;
  }
  
  .item-double {
    flex: 2;
    padding: 10px;
  }
}

